# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# python
__pycache__

# other
eclipse
run
run-data
mcmodsrepo

# Files from Forge MDK
forge*changelog.txt
